* {
  margin: 0;
  padding: 0;
}

body {
  height: 4000px;  
}

.contacts {
  position: absolute;
  margin: 0 auto;
  height: 50px;
  width: 100%;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(122,35,164,1) 0%, rgba(124,37,163,1) 44%, rgba(252,176,69,1) 100%);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.numbers {
  margin-top: 5px;
  width: 600px;
  height: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shows {
  width: 250px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.photo {
  margin-left: 0px;
  width: 40px;
  height: 40px;
  background-color: yellow;
  
}

.name {
  margin-right: 20px;
  width: 150px;
  height: 100%;
  padding: 10px;

}

t {
  font-size: 16px;
  color: white;
  
}

.scroll {
  margin: 0 auto;
  margin-top: 50px;
  height: 100px;
  width: 100%;
  background-color: black;
  position: fixed;
}


@media (max-width: 1200px) {
  .contacts {
    position: absolute;
    height: 100px;
  }
}

@media (max-width: 500px) {
  .contacts {
    position: absolute;
    height: 180px;
  }
}
