* {
  margin: 0;
  padding: 0;
}

body {
  height: 4000px;  
}

.contacts {
  margin-top: 0px;
  height: 50px;
  width: 100%;
  /*background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(122,35,164,1) 0%, rgba(124,37,163,1) 44%, rgba(252,176,69,1) 100%);*/
  background-color: #ff8b00;


}


.contacts_small {
  margin: 0 auto;
  height: 50px;
  width: 1100px;
  
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}


.numbers {
  margin-top: 5px;
  width: 600px;
  height: 40px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

}

.shows {
  width: 250px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.photo {
  margin-left: 0px;
  width: 40px;
  height: 40px;
}

.name {
  margin-right: 20px;
  width: 150px;
  height: 100%;
  padding: 10px;
}

t {
  font-size: 16px;
  color: white;
  
}

.scroll {
  width: 100%;
  height: 4000px;
}

.scroll_block {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100px;
  background-color: white;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 1;
}

.inside {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.name_firma {
  margin-top: 30px;
  float: left;
  width: 120px;
  height: 50px;
}

f_t {
  font-size: 25px;
  color: black;
}


.name_firma > f_t{
  color: #ff8b00;
  font-weight: 900;
}
.menu {
  margin-top: 30px;
  float: right;
  width: 800px;
  height: 50px;

  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}


ul > li {
  width: 150px;
  height: 50px;
  list-style-type: none;
  text-align: center;

}
.down_menu {
  align-content: center;
  /*border: 2px solid black;*/
  display: none;
}

.down_menu li{
  width: 120px;
  height: 30px;
  margin-top: 5px;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  
}


.second_menu li{
  width: 150px;
  height: 30px;
  margin-top: 5px;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  
}

.inside .menu li:hover .down_menu{
  display: initial;
}



 
f_t:hover {
  color: #ff8b00;
  transition-duration: 0.5s;
  cursor: pointer;
}


.horizontal {
  margin-top: 60px;
  float: right;
  width: 150px;
  height: 300px;
  margin-right: 0px;
  display: flex;
  flex-wrap: wrap;

}


.second_menu .horizontal {
  display: none;
}


.contactive .down_menu li{
  width: 70px;
  height: 15px;
  margin-top: 0px;
  margin-left: 100px;
  text-align: center;
  color: #ff8b00;
  opacity: 10;
}




.second_menu .horizontal li:hover .down_menu {
  display: initial;
  z-index: 3;
}

/*Вверху все работает! Не трогай!*/


.hdn {
  display: none;
}

#slider {
  margin: auto;
  position: absolute;
  top: 150px; left: 0; bottom: 0; right: 0;
  
  width: 80%;
  max-width: 100%;
  text-align: center;
  z-index: 0;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 10px;
   border: 3px solid #ccc;
   background: #fff;
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 600px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}
#slides .slide_1 {
   background: #00171F;
}
#slides .slide_2 {
   background: #003459;
}
#slides .slide_3 {
   background: #007EA7;
}
#slides .slide_4 {
   background: #00A8E8;
}
#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}




.Container_images {
  margin: 0 auto;
  width: 100%;
  height: 1700px;
  border: 2px solid black;
  margin-top: 850px;


  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.image {
  width: 650px;
  height: 800px;
  background: white;
  display: block;
}

.Container_images img {
  max-width: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto
}

.text_images {
  width: 650px;
  height: 800px;
  background: white;
  display: block;
}

.inner {
  margin: 0 auto;
  width: 70%;
  height: 90%;
  background-color: white;
  margin-top: 50px;

}


.text_images .inner p {
  margin-top: 50px;
  font-size: 25px;
  opacity: 0.6;
}

mn {
  font-size: 50px;
}

srs {
  margin-top: 20px;
  width: 300px;
  height: 50px;
  display: block;

}

ph {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  display: block;
  margin: 0 auto;
  margin-left: 0;
}

txt {
  width: 200px;
  height: 50px;
  display: block;
  margin-left: 80px;
  margin-top: -40px;

  text-align: center;
  font-size: 25px;
}

@media (max-width: 1300px) {
  .Container_images {
    height: 3600px;
  }  
}

@media (max-width: 1100px) {
  .name {
    display: none;
  }
  .shows {
    width: 50px;
  }
  .contacts_small {
    width: 80%;
  }
  .inside {
    width: 80%;
  }
  .menu {
    display: none;
  }
  .second_menu {
    margin-top: 30px;
    float: right;
    width: 50px;
    height: 50px; 
  }

  .hdn {
    display: initial;
  }

  .second_menu:hover .horizontal {
    display: initial;
  }

  #slider {7
    width: 90%;
  }

  #slides .inner {
    height: 400px;
  }

  .Container_images {
    margin-top: 550px;
  }

}


@media (max-width: 650px) {
  .image {
    width: 100%;
    height: 600px;
  }


  .text_images {
    width: 100%;
    height: 60%;
    background: white;
    display: block;
    border: 2px solid black;
  }

  .Container_images {
    height: 1800px;
  }  
}


@media (max-width: 500px) {
  #slider {
    width: 120%;
  }
  #slides .inner {
    height: 200px;
  }
  .Container_images {
    margin-top: 350px;
  }

}
@media (max-width: 400px) {
  .image {
    height: 500px;
  }
}
@media (max-width: 360px) {
  .galki {
    display: none;
  }
  .text_images {
    height: 900px;
  }

}